<!DOCTYPE html>
<html>
<head>
  <title>AbleBuyer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  <div>
    <%= image_tag current_user.image, size: '32x32' %>
    Welcome back, <%= current_user.first_name %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
